:root{
    --main-pink: #E11180;
    --main-blue: #46C7F4;
    --main-dark: #222223;
    --main-light: #f1f1f1;
}

main #me-wh-bg{
    width: 40%;
    float: left;
    margin-bottom: 30px;
    margin-right: 40px;
}

main h2{
    color: var(--main-light);
    font-family: "Cormorant Upright", serif;
}

.highlighted-blue{
    font-weight: bold;
    color: var(--main-blue);
}

.highlighted-pink{
    font-weight: bold;
    color: var(--main-pink);
}

.divider{
    width: 100%;
    margin: 20px 0;
}

#about-me{
    display: flex;
    flex: 4fr 1fr;
    align-items: center;
    gap: 20px
}

#aboutme-left{
    margin: auto 0;
}

.aboutme-right{
    width: 100%;
    text-align: center;
}

ul{
    color: var(--main-light);
    margin-top: 20px;
    line-height: 1.2;
}

ul li{
    margin-bottom: 15px;
}

#my-pets{
    width: 80%;
}

/*Tablet size*/

@media (max-width: 900px){
    #about-me{
        display: block;
    }
}

@media (max-width: 600px){
    main #me-wh-bg{
    width: 80%;
    float: none;
    margin: 0 0 40px 0;
}

    main{
        text-align: center;
    }
}