*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-pink: #E11180;
    --main-blue: #46C7F4;
    --main-dark: #222223;
    --main-light: #f1f1f1;
}

body{
    background-color: var(--main-dark);
    padding-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}


li{
    list-style-type: none;
}

.big-divider{
    width: 100%;
    margin-top: 40px;
    display: block;
}

/*Flags-------------*/
.flags{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50px;
    left: 20px;
}

.flags img{
    max-width: 60px;
    cursor: pointer;
}


.tablet-flags{
    display: none;
}

.mobile-flag{
    display: none;
}

/*Navigation----------------*/
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    font-weight: 800;
    letter-spacing: 3px;
}

a{
    text-decoration: none;
    color: var(--main-light);
}

nav ul li a:hover{
    background: linear-gradient(90deg, var(--main-pink), var(--main-blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav .createo-logo{
    width: 60px;
}

.hamburger{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createo-logo-mini, .hamburger-icon{
    width: 30px;
    display: none;
}

/*Main --------------------*/
main{
    margin: 70px auto 100px auto !important;
    color: var(--main-light);
}

main h1{
    font-family: "Cormorant Upright", serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}

main h2{
    margin-top: 40px;
}

main p{
    margin: 15px 0;
    line-height: 1.5;
}

main .portfolioLink{
    color: var(--main-pink);
    width: max-content;
    border: 1px solid var(--main-pink);
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    
}

main .portfolioLink:hover{
    color: var(--main-blue);
    border: 1px solid var(--main-blue);
}

section{
    margin-top: 80px;
}

.second-section p {
    margin-bottom: 30px;
}

.img-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.img-grid img{
    width: 100%;
}

.hidden{
    display: none;
}

.endLink{
    color: var(--main-pink);
    cursor: pointer;
}

.endLink:hover{
    color: var(--main-blue);
    cursor: pointer;
}

.endSzov{
    margin-top: 80px;
}


/*Footer------------------*/
footer{
    margin: 40px auto !important;
    display: flex;
}

.social{
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: var(--main-light);
}

.social img{
    width: 100%;
    max-width: 50px;
    margin-right: 20px;
}

/*Tablet size*/
@media (max-width: 900px){
    /*Navigation*/
    nav .createo-logo{
        width: 40px;
    } 
    
    /*Vektoros rajzok*/
    section img{
        max-width: 80%;
        margin: 0 auto;
    }

    .img-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px
    }

    .hidden{
        display: block;
        margin-top: 20px;
    }

    .hidden-sm{
        display: none;
    }

    /*Flags-------------*/
    .flags{
        display: none;
    }

    .tablet-flags{
        display: flex;
        gap: 30px;
        text-align: center;
        width: 100%;
        justify-content: center;
        padding-top: 20px;
        cursor: pointer;
    }

    .tablet-flags img{
        width: 60px;
    }

   

    
}





/*Mobile size ----------------------------------*/
@media (max-width: 550px){
    .container{
        width: 85%;
    }

    /*Flags-------------*/
    .flags{
        display: none;
    }

    .mb-flag{
        width: 50px;
        cursor: pointer;
    }

    .mobile-flag{
        display: flex;
        gap: 20px;
    }

    .tablet-flags{
        display: none;

    }

    /*navigation*/
    nav{
        position: relative;
    }

    .main-logo{
        display: none;
    }

    .createo-logo-mini, .hamburger-icon{
        display: block;
        width: 40px;
    }

    .nav-links li{
        padding: 20px 5px;
    }

    .hamburger-icon{
        cursor: pointer;
        position: relative;
        z-index: 10; 
    }

    .nav-links{
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        background-color: var(--main-dark);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }

    .nav-links.active{
        display: flex;
    }

    .portfolioLink{
       max-width: 250px;
       text-align: center;
    }

   

    /*Vektoros rajzok*/
    .img-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    }

    .hidden{
        display: block;
        margin-top: 20px;
    }

    .hidden-sm{
        display: none;
    }


    
    /*Footer*/
    footer{
        flex-direction: column;
        gap: 20px
    }

    .social{
        margin-right: 0;
    }

    .social img{
        width: 100%;
        max-width: 40px;
    }

}

